/* Reset/Force Defaults and Global Settings */

html {
	min-height:100vh;
  box-sizing: border-box;
  position:relative;
}

*, *:before, *:after {
  box-sizing: inherit;
}

*:focus {
  outline:0;
  box-shadow: 0 0 3pt 2pt #ECAF80 !important;
}

html, body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size:17px;
  line-height:1.47rem;
  min-height: 100vh !important;
}

a {
  cursor:pointer;
  text-decoration:none;
  box-shadow:0px 0px 0px rgba(0,0,0,0);
  transition: box-shadow 0.1s linear;
}

ul, li {
  margin:0;
  padding:0;
}

ul {
  list-style:none;
}

input:disabled {
  box-shadow:0px 0px 0px none;
  opacity:0.4;
}
